.page{
    height: 150px;
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: #E0E0E0 !important;
    border: 3px solid #E0E0E0;
}

.page:hover {
    border: 3px solid #0E076E;
}